@model IEnumerable<StudentCourseTeacher>

<h2>Alla elever och deras lärare</h2>
<table class="table">
    <thead>
        <tr>
            <th>Elev</th>
            <th>Lärare</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Student.StudentName</td>
                <td>@item.Teacher.TeacherName</td>
            </tr>
        }
    </tbody>
</table>
